body {
    font-family: 'Open Sans', sans-serif;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day-header {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #acacac;
    border-radius: 5px;
    margin: 2px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-item {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #acacac;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
}

.month-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month-item {
    flex: 1;
    width: 95px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #acacac;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
}

.decade-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-item {
    flex: 1;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #acacac;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
}

.selected {
    background-color: red;
}

.month-view {
    width: 350px;
}

.year-view {
    width: 350px;
}

.decade-view {
    width: 350px;
}

.nav-bar {
    width: 100%;
    display: flex;
}

.nav-arrow {
    height: 44px;
    width: 44px;
}

.nav-header {
    flex: 1;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-input {
    height: 44px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.date-select {
    height: 44px;
    font-size: 1.5rem;
}

.datepicker-selector {
    position: relative;
}

.datepicker-view {
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 100;
}